*.iml
.gradle/
.idea/
/local.properties
/.DS_Store
/build/
/captures
.externalNativeBuild/
.cxx/
app/build/
*.apk
*.aab
/screenshot_*.png
/home*.png
/after_add*.png
/history*.png
/settings*.png
/ui*.xml
/v*.png
/v*.xml
